[baseos]
name=baseos yum repository
baseurl=ftp://{{ repouserencd }}:{{ repopassencd }}@{{ repohost }}/redhat/yum/{{ repotype }}/{{ repomajr }}/{{ repovers }}/{{ repoarch }}/baseos/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
[appstream]
name=appstream yum repository
baseurl=ftp://{{ repouserencd }}:{{ repopassencd }}@{{ repohost }}/redhat/yum/{{ repotype }}/{{ repomajr }}/{{ repovers }}/{{ repoarch }}/appstream/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
[supplementary]
name=supplementary yum repository
baseurl=ftp://{{ repouserencd }}:{{ repopassencd }}@{{ repohost }}/redhat/yum/{{ repotype }}/{{ repomajr }}/{{ repovers }}/{{ repoarch }}/supplementary/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
[codeready-builder]
name=codeready-builder yum repository
baseurl=ftp://{{ repouserencd }}:{{ repopassencd }}@{{ repohost }}/redhat/yum/{{ repotype }}/{{ repomajr }}/{{ repovers }}/{{ repoarch }}/codeready-builder/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
